<h1>RESUMEN DEL ACUERDO</h1>

<p>Nombre del cliente: {{this.dataAcuerdo.dataCliente.nombreAgente}}</p>
<p>Nombre del comercializador: {{this.dataAcuerdo.dataComercializador.nombreAgente}}</p>
<p>Nombre del generador: {{this.dataAcuerdo.dataGenerador.nombreAgente}}</p>
<p>Tipo de energía: {{this.dataAcuerdo.tipoEnergia}}</p>
<p>Cantidad de energía total: {{this.dataAcuerdo.cantidadEnergiaTotal}}</p>
<p>Cantidad de energía inyectada: {{this.dataAcuerdo.cantidadEnergiaInyectada}}</p>
<p>Fecha de solicitud: {{this.dataAcuerdo.fechaSolicitud}}</p>
<p>Fecha inicio: {{this.dataAcuerdo.fechaInicio}}</p>
<p>Fecha de fin: {{this.dataAcuerdo.fechaFin}}</p>
<p>Estado del acuerdo: {{this.dataAcuerdo.estadoAcuerdo}}</p>
<p>Valor del contrato: {{this.dataAcuerdo.valorContrato}}</p>

