<div>
    <div class="dialgo-close-brand">
        <img src="../../../assets/images/cerrar.svg" alt="cerrar" (click)="dialogRef.close()">
    </div>
    
    <div class="certificado-acuerdo-container">
        <div class="info-certificado-acuerdo">
            <div class="imagenes-header">
                <div class="images">
                    <img src="../../../assets/images/Logo MVM.svg" alt="" class="mr-20">
                    <img src="../../../assets/images/separator.svg" alt="" class="mr-20">
                    <img src="../../../assets/images/logo-energy.png" alt="">
                </div>
                <div class="container-energia-logo">
                    <img src="../../../assets/images/energia_renovable.svg" alt="" >
                </div>
                
                
            </div>
    
            <div class="container-text-principal">
                <span>Contrato de compra de Energía celebrado entre {{this.dataAcuerdo[0].dataCliente.nombreAgente}} y {{this.dataAcuerdo[0].dataGenerador.nombreAgente}}, generada con fuentes renovables de energía.</span>
            </div>
    
            <div class="container-text-secundario">
                <span>Este documento certifica que a través de su comercializador "{{this.dataAcuerdo[0].dataComercializador.nombreAgente}}" usted ha realizado una transacción de compra de energía por un total de {{this.dataAcuerdo[0].cantidadEnergiaTotal}} Mw de energía {{this.dataAcuerdo[0].tipoEnergia}} en el mercado de energía renovable. Este contrato será valido desde {{this.dataAcuerdo[0].fechaInicio}} hasta {{this.dataAcuerdo[0].fechaFin}}.</span>
            </div>
    
            <div class="container-tokens">
                <span>Valor del contrato {{this.dataAcuerdo[0].valorContrato}} Tokens</span>
            </div>
    
            <div class="container-masInfo">
                <span>Para conocer el detalle del contrato consultar en echain.com/#34FG%)</span>
            </div>
    
            <div class="container-firmas">
                <div>
                    <img src="../../../assets/images/firmas.svg" alt="">
                    <span>{{this.dataAcuerdo[1].contactoCliente}}</span>
                    <span>Representante legal de {{this.dataAcuerdo[0].dataCliente.nombreAgente}}</span>
                </div>

                <div>
                    <img src="../../../assets/images/firmas.svg" alt="">
                    <span>{{this.dataAcuerdo[1].contactoGenerador}}</span>
                    <span>Representante legal de {{this.dataAcuerdo[0].dataGenerador.nombreAgente}}</span>
                </div>
            </div>
        </div>
    </div>

</div>



